/* EL READER OCUPA EL 90% RESTANTE */
#reader {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center; /* centrar horizontal */
  align-items: center; /* centrar vertical */
  overflow: hidden;
  position: relative;
}

/* EL VIDEO DEBE SER CUADRADO */
#reader video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  aspect-ratio: 1 / 1 !important;
  border-radius: 10px; /* opcional */
}

/* HEADER */
#trackerid {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(0, 0, 0, 0.2);
  color: var(--bs-white);
}

.headerIcon {
  color: var(--bs-white);
}
.icon-XL:hover {
  filter: brightness(1.2);
  transform: scale(1.5);
  transition: all 0.3s ease;
  cursor: pointer;
}
.icon-S:hover {
  filter: brightness(1.2);
  transform: scale(1.2);
  transition: all 0.3s ease;
  cursor: pointer;
}
.botones {
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--bs-success);
  color: var(--bs-white);
  border: 1px solid var(--bs-secondary);
  padding: 8px;
}

#qr-shaded-region div {
  background-color: var(--bs-white) !important;
}

#selectCamaras option {
  background-color: var(--bs-white) !important;
  color: var(--bs-dark);
}
#selectCamaras option:hover {
  background-color: var(--bs-gray-100) !important;
  color: var(--bs-white);
}
#selectCamaras option:checked {
  background-color: #10b981; /* verde */
  color: white;
}
#selectCamaras option:active {
  background-color: #f59e0b; /* naranja */
  color: white;
}

.boxIcon {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 1px solid var(--bs-gray-500);
  border-radius: 50%;
  padding: 5px;
  background-color: var(--bs-primary);
  /*   fill: var(--bs-white);
 */
  filter: brightness(1);
  color: var(--bs-white);
}
.boxIcon svg {
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
  /*   background-color: rgb(0, 0, 0, 0.1);
 */
}
