/* Definir la animación Shake */
@keyframes shake {
  0% {
    transform: rotate(0);
  }
  2% {
    transform: translateY(-2px) rotate(-2deg);
    transform-origin: center;
  }
  4% {
    transform: translateY(2px) rotate(2deg);
    transform-origin: center;
  }
  6% {
    transform: translateY(-2px) rotate(-2deg);
    transform-origin: center;
  }
  8% {
    transform: translateY(2px) rotate(2deg);
    transform-origin: center;
  }
  10% {
    transform: translateY(-2px) rotate(-2deg);
    transform-origin: center;
  }
  12% {
    transform: rotate(0);
    transform-origin: center;
  }
}
