.colorInicio {
  background-color: var(--bs-pink);
  border-color: var(--bs-pink);
}
.colorInicio:hover {
  background-color: var(--pink-light);
  border-color: var(--pink-light);
}
#trackerForm label {
  font-weight: 500;
}

.valido {
  border-color: var(--bs-success) !important;
  box-shadow: 0 0 4px var(--bs-success-border-subtle) !important;
}
#trackerName {
  font-size: 1.2rem;
  font-weight: 500;
}

.container {
  background-color: rgb(0, 0, 0, 0.1);
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}
.container:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, calc(-50% - 10px));
}
.container button {
  padding: 10px 20px;
}
#logoId {
  height: 250px;
  color: var(--pink-light);
  border-radius: 50%;
  position: absolute;
  top: -80px;
}

.bi-check-circle {
  color: var(--bs-success);
}

.bi-exclamation-triangle {
  color: var(--bs-warning);
}
