#reader {
  width: 100%;
  height: 100%;
}
#camera-container {
  flex: 1;
  overflow: hidden;
}

.headerIcon {
  color: var(--bs-white);
}
.icon-XL:hover {
  filter: brightness(1.2);
  transform: scale(1.5);
  transition: all 0.3s ease;
  cursor: pointer;
}
.icon-S:hover {
  filter: brightness(1.2);
  transform: scale(1.2);
  transition: all 0.3s ease;
  cursor: pointer;
}
.botones {
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--bs-success);
  color: var(--bs-white);
  border: 1px solid var(--bs-secondary);
  padding: 8px;
}

#qr-shaded-region div {
  background-color: var(--bs-white) !important;
}

#selectCamaras option {
  background-color: var(--bs-white) !important;
  color: var(--bs-dark);
}
#selectCamaras option:hover {
  background-color: var(--bs-gray-100) !important;
  color: var(--bs-white);
}
#selectCamaras option:checked {
  background-color: #10b981; /* verde */
  color: white;
}
#selectCamaras option:active {
  background-color: #f59e0b; /* naranja */
  color: white;
}

.boxIcon {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 1px solid var(--bs-gray-500);
  border-radius: 50%;
  padding: 5px;
  background-color: var(--bs-primary);
  /*   fill: var(--bs-white);
 */
  filter: brightness(1);
  color: var(--bs-white);
}
.boxIcon svg {
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
  /*   background-color: rgb(0, 0, 0, 0.1);
 */
}
