body {
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: content-box;
}

.botones {
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--bs-success);
  color: var(--bs-white);
  border: 1px solid var(--bs-secondary);
  padding: 8px;
}

.wrapper {
  border: 2px solid var(--bs-gray-300);
  width: 500px;
  padding: 15px;
  margin: auto;
}
#qr-shaded-region div {
  background-color: var(--bs-white) !important;
}

#list-camaras {
  margin-top: 18px;
  height: 20px;
}
#list-camaras li:hover {
  background-color: var(--bs-gray-400);
  cursor: pointer;
  padding: 8px;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
